{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Servtoguide</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Servicedate</th>
                <td>{{ entity.servicedate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ entity.amount }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('servtoguide') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
