{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar status de casillero</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('poboxstatus') }}">
            Regresar a la lista de status de casillero
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
