{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Creación de un nuevo tipo de cliente</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('customertype') }}">
            Regresar a la lista de tipos de clientes
        </a>
    </li>
</ul>
{% endblock %}
