{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Editar tipo de casillero</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('poboxtype') }}">
            Regresar a la lista de tipos de casillero
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
