{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Edición de transportista</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('transporter') }}">
            Regresar a la lista de transportistas de carga
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
