{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Nuevo transportista de carga</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('transporter') }}">
            Regresar a la lista de transportistas de carga
        </a>
    </li>
</ul>
{% endblock %}
