{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Creación de un nuevo status para cliente</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('customerstatus') }}">
            Regresar a la lista de status de clientes
        </a>
    </li>
</ul>
{% endblock %}
