{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Creación de nueva bodega</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('warehouse') }}">
            Regresar a la lista de Bodegas
        </a>
    </li>
</ul>
{% endblock %}
